<!DOCTYPE html>
<html>
<head>
  <title>Luckycharms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Lucky Charms', root_path, class: 'brand' %>
        <ul class="nav">
          <% if signed_in? %>
            <li><%= link_to 'Bookmarks', admin_bookmarks_path %></li>
          <% end %>
        </ul>
        <%= render 'layouts/user_panel' %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
